@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<form method="post">
    @Html.AntiForgeryToken()
</form>


<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3>@Model.TodayCount</h3>
                    <p class="card-text">Новостей сегодня</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3>@Model.DuplicatesCount</h3>
                    <p class="card-text">Дубликатов</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3>@Model.AdsCount</h3>
                    <p class="card-text">Рекламных записей</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-block mb-4">
        <button id="startImportBtn" class="btn btn-success me-2">
            <i class="bi bi-cloud-download"></i> Запустить импорт
        </button>
        <a href="/Settings/Settings" class="btn btn-outline-primary">
            <i class="bi bi-gear"></i> Настройки
        </a>
        <!--a href="/News/News" class="btn btn-primary me-2">
            <i class="bi bi-filter"></i> Отфильтрованные новости
        </!--a>
        <!--a href="/News/RawNews" class="btn btn-secondary me-2">
            <i class="bi bi-code-square"></i> Сырые новости
        </!--a>
       
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/index-page.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/index-page.js" asp-append-version="true"></script>
}
